<!-- Footer -->
<style>
  .row {
    position: center;
  }

  .fa-twitter {
    color: #1DA1F2;
  }

  .fa-linkedin-in {
    color: #2867b2;
  }

  .fa-github {
    color: #333;
  }

</style>
<!-- Footer -->
<footer
        class="text-center text-lg-start text-white"
>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Disclaimer</h5>

          <p>
            Glip is an independent entity. The public clips data are sourced from Twitch, but the presentation is not
            controlled by them. Usage of the name Twitch and logo <i class="fab fa-twitch"></i> is for context, not
            claiming any ownership. It remains the property of the copyright holder.
          </p>
          <p>
            Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Donation</h5>

          <p>
            You can donate to me to help fund my project. It will allow me to run the website on better servers, spend
            more time developing, add more features, and overall give you a better experience.
          </p>
          <p>My BTC wallet address: bc1q9fuc7vmnl7ay4yey6gugxm6yny6y4s2jn5dm3m</p>
          <p>My ETH wallet address: 0x0f1b09A6Fd7373aa88a61d8E942A40ef9E8A1d42</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Me</h5>

          <p>I would love to hear your feedbacks. Whether you don't like something about the website's looks, or you
            think
            I can improve any part of the experience, please message me.
            <br>
            P.S. I am also open for hire so if you're an employer and want to talk more, please don't hesitate.
          </p>
        </div>
        <!--Grid column-->

        {% comment %}<!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>{% endcomment %}
      <!--Grid row-->
      </div>
    </section>
    <!-- Section: Links -->

    <hr class="mb-4"/>

    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free:</span>
        <a href="{% url 'account_login' %}" type="button" class="btn btn-outline-light btn-rounded ctaButton" role="button">
          Sign up!
        </a>
      </p>
    </section>
    <!-- Section: CTA -->

    <hr class="mb-4"/>

    <!-- Section: Social media -->
    <section class="mb-4 text-center">
      {% comment %}        <!-- Facebook -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
        ><i class="fab fa-facebook-f"></i
        ></a>{% endcomment %}

      <!-- Twitter -->
      <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://www.twitter.com/hossein_mirj"
              role="button"
      ><i class="fab fa-twitter"></i></a>

      {% comment %}        <!-- Google -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
        ><i class="fab fa-google"></i
        ></a>{% endcomment %}

      {% comment %}        <!-- Instagram -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
        ><i class="fab fa-instagram"></i
        ></a>{% endcomment %}

      <!-- Linkedin -->
      <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://www.linkedin.com/in/hossein-mirjalali/"
              role="button"
      ><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://github.com/HosseinMirjalali"
              role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2021 Copyright:
    <a class="text-white" href="https://glipsite.com/"
    >glipsite.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
{% comment %}<footer class="page-footer font-small teal pt-4 text-white">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row text-center">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Contact Me</h5>
        <p>I would love to hear your feedbacks. Whether you don't like something about the website's looks, or you think
          I can improve any part of the experience, please message me.
          <br>
          P.S. I am also open for hire so if you're an employer and want to talk more, please don't hesitate.
        </p>

        <hr>

        <h5 class="text-uppercase font-weight-bold">Donation</h5>
        <p>You can donate to me to help fund my project. It will allow me to run the website on better servers, spend
          more time developing, add more features, and overall give you a better experience. This website is free to use
          and will always be, but any donation is welcome and I will highly appreciate it. </p>
        <p>My BTC wallet address: bc1q9fuc7vmnl7ay4yey6gugxm6yny6y4s2jn5dm3m</p>
        <p>My ETH wallet address: 0x0f1b09A6Fd7373aa88a61d8E942A40ef9E8A1d42</p>
        {#        <p>or:</p>#}
        {#        <div class="btn btn-default">Donate</div>#}
        <hr>

        <h5 class="text-uppercase font-weight-bold">DISCLAIMER</h5>
        <p>
          Glip is an independent entity. The public clips data are sourced from Twitch, but the presentation is not
          controlled by them. Our use of the name Twitch and <i class="fab fa-twitch"></i> logo is for context, not
          claiming any ownership. It remains the property of the copyright holder.
        </p>
        <br>
        <div>Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">My Socials</h5>
        <a class="text-decoration-none" target="_blank" href="https://www.twitter.com/hosermes"><i
                class="fab fa-twitter"></i></a>
        <br>
        <br>
        <a class="text-decoration-none" target="_blank" href="https://www.linkedin.com/in/hossein-mirjalali/"><i
                class="fab fa-linkedin"></i>
        </a>
        <br>
        <br>
        <a class="text-decoration-none" target="_blank" href="https://github.com/HosseinMirjalali"><i
                class="fab fa-github"></i></a>
        <br>
        <br>
        <p id="text"><i class="fas fa-envelope-open-text"></i> mirjalali.hosein@gmail.com</p>
        <button class="btn btn-dark copyToClipBoard" onclick="copyToClipboard('#text')">Copy</button>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a class="mya" href="mailto:mirjalali.hosein@gmail.com"> Hossein Mirjalali</a>
  </div>
  <!-- Copyright -->

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>

</footer>{% endcomment %}
<!-- Footer -->
