<!-- Footer -->
<style>
  .row {
    position: center;
  }

  .page-footer {
    background-color: #343a40;
  }

  .fa-twitter {
    color: #1DA1F2;
    font-size: 3rem;
  }

  .fa-linkedin {
    color: #2867b2;
    font-size: 2rem;
  }

  .fa-envelope-open-text {
    color: #A16AE8;
    font-size: 2rem;
  }

  .fa-github {
    color: #333;
    font-size: 2rem;
  }

  .mya {
    color: #6A5ACD;
  }

</style>
<footer class="page-footer font-small teal pt-4 text-white">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row text-center">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Contact Me</h5>
        <p>I would love to hear your feedbacks. Whether you don't like something about the website's looks, or you think
          I can improve any part of the experience, please message me.
          <br>
          P.S. I am also open for hire so if you're an employer and want to talk more, please don't hesitate.
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">My Socials</h5>
        <a class="text-decoration-none" target="_blank" href="https://www.twitter.com/hosermes"><i
                class="fab fa-twitter"></i></a>
        <br>
        <a class="text-decoration-none" target="_blank" href="https://www.linkedin.com/in/hossein-mirjalali/"><i
                class="fab fa-linkedin"></i>
        </a>
        <br>
        <a class="text-decoration-none" target="_blank" href="https://github.com/HosseinMirjalali"><i
                class="fab fa-github"></i></a>
        <br>
        <p id="text"><i class="fas fa-envelope-open-text"></i> mirjalali.hosein@gmail.com</p>
        <button class="btn btn-dark" onclick="copyToClipboard('#text')">Copy</button>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a class="mya" href="mailto:mirjalali.hosein@gmail.com"> Hossein Mirjalali</a>
  </div>
  <!-- Copyright -->

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>

</footer>
<!-- Footer -->
