{% extends "base.html" %}

{% block content %}
  <style>
    .masthead {
      height: 100vh;
      min-height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    a {
      color: #6A5ACD;
    }
  </style>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Glip</h1>
          <p class="lead">Made by a bored web developer to help you catch up with your favorite Twitch streamers</p>
          <p>👇</p>
        </div>
      </div>
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light">Twitch login process</h2>
      <p>You login on Twitch website and your credentials are handled by Twitch, not this website. Once you successfully
        log in on Twitch, I will receive from
        Twitch, your username (your public name), your email, and your avatar. They all can be seen on My Profile after
        you log in.
        Please, make sure you are in Twitch's website when you are logging in, by checking the url
        (https://www.twitch.tv/ or https://id.twitch.tv/)
      </p>
      <hr>
    </div>
    <div class="container">
      <h2 class="font-weight-light">Clips For You</h2>
      <p>
        There you will find clips that are chosen for you with regards to who you follow on Twitch, and which games you
        follow on Glip. I query the Twitch API to see the streamers you follow, then I query Twitch for each of your
        followed games and get top clips of that game. Lastly, I will choose, among all the clips that Twitch API has
        given me, the ones whose streams you follow. As an example, you follow Shroud, XQC, and Asmongold, and you have
        followed Valorant, Just Chatting, and World of Warcraft on <a href="{% url 'clips:games' %}"
                                                                      class="lead">Games</a> on Glip. In <a
              href="{% url 'clips:your_clips' %}"
              class="lead">Clips For You</a>
        , you will only see Shroud, XQC, and Asmongold's clips if they're among the top X clips of aforementioned games.
      </p>
      <hr>
    </div>
    <div class="container">
      <h2 class="font-weight-light">Work in Progress</h2>
      <p>
        This website is still a work in progress. You will notice differences if you use the website regularly, since
        I add new features, update visuals, etc. on a daily basis. If something new is lowering the quality of your
        experience, please let me know. The cost of servers are currently all paid from my own pocket, so you
        might not be able to access the website, since I might shut them down to make the costs manageable.
      </p>
    </div>
  </section>
  <hr>

{% endblock %}
