{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
  <style>
    .masthead {
      height: 100vh;
      min-height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    a {
      color: #6A5ACD;
    }
  </style>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Glip</h1>
          <p class="font-weight-light">A simple hub to help you catch up with your favorite Twitch clips and your favorite
            streamers</p>
          <p>👇</p>
        </div>
      </div>
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light">Twitch login process</h2>
      <p>You login on Twitch website and your credentials are handled by Twitch, not this website. Once you successfully
        log in on Twitch, I will receive from
        Twitch, your username (your public name), your email, and your avatar. They all can be seen on My Profile after
        you log in.
        Please, make sure you are in Twitch's website when you are logging in, by checking the url
        (https://www.twitch.tv/ or https://id.twitch.tv/)
      </p>
      <hr>
    </div>
    <div class="container">
      <h2 class="font-weight-light">Work in Progress</h2>
      <p>
        This website is still a work in progress. You will notice differences if you use the website regularly, since
        I add new features, update visuals, etc. on a daily basis. If something new is lowering the quality of your
        experience, please let me know. The cost of servers are currently all paid from my own pocket, so you
        might not be able to access the website, since I might shut them down to make the costs manageable.
      </p>
    </div>
    <div class="container">
      <h2 class="font-weight-light">Clips For You</h2>
      <p>
        There you will find clips that are chosen for you with regards to who you follow on Twitch, and which games you
        follow on Glip. I query the Twitch API to see the streamers you follow, then I query Twitch for each of your
        followed games and get top clips of that game. Lastly, I will choose, among all the clips that Twitch API has
        given me, the ones whose streams you follow. As an example, you follow Shroud, XQC, and Asmongold, and you have
        followed Valorant, Just Chatting, and World of Warcraft on <a href="{% url 'games:games' %}"
                                                                      class="lead">Games</a> on Glip. In <a
              href="{% url 'clips:your_clips' %}"
              class="lead">Clips For You</a>
        , you will only see Shroud, XQC, and Asmongold's clips if they're among the top X clips of aforementioned games.
      </p>
      <hr>
    </div>
    <div class="container">
      <h2 class="font-weight-light">Channels You Follow</h2>
      <p>
        See all the streamers you have followed on Twitch. This is fetched from Twitch API and is publicly available to
        anyone who can use Twitch API. The more streamers you follow, the more clips you see in
        <a href="{% url 'clips:your_clips' %}" class="lead">Clips For You</a>.
        You can watch their top clips (up to 100) from the past 24 hours by clicking on <span
              class="fas fa-film followslist-icon-film"></span> icon.
        You will see a <span class="liveDot">Live</span> icon if the streamer is online, and by clicking on that
        or <i class="fab fa-twitch followslist-icon-twitch"></i> icon, you will be redirected to their Twitch page.
      </p>
      <hr>
    </div>
    <div class="container">
      <h2 class="font-weight-light">Twitch Games</h2>
      <p>
        In this page you will see the current top 100 games on Twitch based on their view count. You can follow a game
        to see the clips of that game in <a href="{% url 'clips:your_clips' %}" class="lead">Clips For You</a>. If at
        any point, you don't want to see that game's clips anymore, you can always unfollow them.
        You can watch each game's top 100 clips from the past 24 hours by clicking on <span
              class="fas fa-film followslist-icon-film"></span> icon.
        Also, by clicking on <i class="fab fa-twitch followslist-icon-twitch"></i> icon, you will be redirected to that
        game's Twitch page.
      </p>
      <hr>
    </div>

  </section>
  {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  {% endblock %}
{% endblock %}
