{% extends "base.html" %}
{% block title %}Clips{% endblock %}
<style>
  .text-wrapper {
    position: absolute;
    top: 8px;
    left: 16px;
  }
</style>

{% block content %}
  {% if clips %}
    <div class="row">
      {% for clip in clips|dictsortreversed:"view_count" %}
        <div class="col-sm-offset-3 clip-card" style="padding: 10px">

          <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 100%;" data-toggle="modal"
               data-target="#videoModal"
               data-theVideo="{{ clip.embed_url }}&parent=localhost">
            <img loading=lazy class="card-img-top clip-card-img" src="{{ clip.thumbnail_url }}" alt="" style="opacity: 0.5; height: 100%;">
            <div href="#"
                 style="position: absolute; bottom: 65px; left: 9px; font-size: 0.9rem; color: #FFFFFF; text-decoration: none"
                 class="stretched-link font-weight-bold card-my-div">{{ clip.broadcaster_name }}</div>
            <div style="position: absolute; top: 8px; right: 16px; border-radius: 20px; background-color: rgba(0, 0, 0, 0.6);"
                 class="text-wrapper">
              <p class="card-text font-weight-bold" style="padding: 0px 3px; font-size: 0.9rem">
                0:{{ clip.duration }}</p>
            </div>
            <div style="position: absolute; top: 8px; left: 16px; border-radius: 20px; background-color: rgba(0, 0, 0, 0.6);"
                 class="text-wrapper">
              <p class="card-text font-weight-bold" style="padding: 0px 5px; font-size: 0.9rem"><i
                      class="fas fa-eye"></i>
                {{ clip.view_count }}</p>
            </div>
            <a class="stretched-link" href="javascript:void(0);" style="color: #83577500; "></a>
            <h5 style="position: absolute; bottom: 15px; left: 9px; font-size: 0.9rem; max-width: 95%;"
                class="card-title font-weight-bold text-truncate">{{ clip.title }}</h5>
          </div>

        </div>
      {% endfor %}
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div>
              <iframe width="100%" height="350" src="" allowfullscreen="true"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    {% block javascript %}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
              crossorigin="anonymous"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
              integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
              crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/5e67d5e00b.js" crossorigin="anonymous"></script>
    {% endblock %}
    <script>
      //FUNCTION TO GET AND OPEN TWITCH EMBED CLIP
      function autoPlayYouTubeModal() {
        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.click(function () {
          var theModal = $(this).data("target"),
                  videoSRC = $(this).attr("data-theVideo"),
                  videoSRCauto = videoSRC + "";
          $(theModal + ' iframe').attr('src', videoSRCauto);
          $(theModal + ' button.close').click(function () {
            $(theModal + ' iframe').attr('src', videoSRC);
          });
        });
        var modal = $(this).data("target");
        modal.on('hide.bs.modal', function () {
          var memory = $(this).html();
          $(this).html(memory)
        })
      }

      $(document).ready(function () {
        autoPlayYouTubeModal();
      });

      $(function () {
        $("div").slice(0, 4).show();
        $("#loadMore").on('click', function (e) {
          e.preventDefault();
          $("div:hidden").slice(0, 4).slideDown();
          if ($("div:hidden").length == 0) {
            $("#load").fadeOut('slow');
          }
          $('html,body').animate({
            scrollTop: $(this).offset().top
          }, 1500);
        });
      });

    </script>


  {% else %}
    <strong>No channels followed.</strong>
  {% endif %}

{% endblock content %}
