{% extends "base.html" %}
{% block title %}List of Followed Channels{% endblock %}


{% block content %}
  {% if clips %}


    <div class="row glip-row">
      {% for clip in clips %}
        <div class="col-lg glip-col">
          <iframe
                  src="{{ clip.embed_url }}&parent=localhost"
                  height="360"
                  width="640"
                  allowfullscreen="true">
          </iframe>
        </div>
      {% endfor %}
    </div>

  {% else %}
    <strong>No clips to show.</strong>
  {% endif %}

{% endblock content %}
