{% extends "base.html" %}
{% load static %}
{% block title %}List of Followed Channels{% endblock %}

{% block content %}




  <style>
    .masthead {
      background-size: cover;
      background-position: center;
    }

    h3 {
      overflow: hidden;

    }

    .media {

    }

    .mt-0 {
      margin-top: 10px;
    }

    .text-center {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #FFFFFF;
    }

  </style>


  <div class="masthead">
    <hr>
    {% if bulk_info %}

      <p class="text-center">Total follows: {{ bulk_info|length }}</p>
      <div class="d-flex justify-content-center">
        <div class="row pb-4">
          <div class="col-12">
            <input type="text" name="searchbox" id="searchbox" class="filterinput form-control"
                   placeholder="Search streamers...">
          </div>
        </div>
      </div>


      <div class="media">
        <img src="{% static 'images/streamer.png' %}" width="64" height="64" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Streamers</h5>
          <p>See the streamers you have followed on Twitch and watch their top clips from the past 24 hours</p>
        </div>
      </div>


      {#            Newer small picture-only cards     #}
      <div class="row mt-5 justify-content-center">
        {% for info in bulk_info|dictsort:"display_name" %}
          <div class="card card-followslist mx-2 mb-3" data-role="game">
            <div class="customShadowBox"></div>
            <a target="_blank" href="{% url 'clips:clip' %}?broadcaster_id={{ info.id }}&first=100"></a>
            <img src="{{ info.profile_image_url }}"
                 alt="" class="">
            <h3 class="cardText">
              {{ info.display_name }}
            </h3>
            <a class="text-decoration-none followslist-icon-film"
               href="{% url 'clips:clip' %}?broadcaster_id={{ info.id }}&first=100"
               target="_blank">
              <i data-toggle="tooltip" data-placement="top" title="Watch {{ info.display_name }}'s top clips"
                 class="fas fa-film"></i>
            </a>
            <a class="text-decoration-none followslist-icon-twitch"
               href="https://www.twitch.tv/{{ info.login }}"
               target="_blank">
              <i data-toggle="tooltip" data-placement="top" title="Open on Twitch" class="fab fa-twitch"></i>
            </a>
          </div>
        {% endfor %}
      </div>


      {#      <div class="row text-center align-self-center">#}
      {#        {% for info in bulk_info|dictsort:"display_name" %}#}
      {#          <div class="col-sm-2">#}
      {#            <div class="card-group">#}
      {#              <div class="card-transparent" data-role="game" style="height: 27rem">#}
      {#                <img src="{{ info.profile_image_url }}" alt="" class="card-img-top">#}
      {#                <div class="card-content">#}
      {#                  <br>#}
      {#                  <h3 class="" style="max-height: 2rem"#}
      {#                      title=" {{ info.display_name }}">#}
      {#                    {{ info.display_name }}#}
      {#                    <a class="text-decoration-none custom-text-h3" href="https://www.twitch.tv/{{ info.login }}"#}
      {#                       target="_blank">#}
      {#                      <i data-toggle="tooltip" data-placement="top" title="Open on Twitch" class="fab fa-twitch"></i>#}
      {#                    </a>#}
      {#                  </h3>#}
      {#                  <a href="{% url 'clips:clip' %}?broadcaster_id={{ info.id }}&first=100" class="btn btn-primary">Watch {{ info.display_name }}'s top clips.</a>#}
      {#                  <form class="form-inline" action="{% url 'clips:clip' %}" target="_blank" method="get" id="myForm">#}
      {#                    <input type="text" value="{{ info.id }}" name="broadcaster_id" size="1" id="broadcaster_id"/>#}
      {#                    <input type="hidden" value="20" name="first" size="1"/>#}
      {#                    <input type="submit" class="btn"#}
      {#                           value="View {{ info.display_name }}'s top clips"#}
      {#                           name="Submit" id="sub-btn">#}
      {#                  </form>#}
      {#                  {% comment %}                  {% if game.is_followed == True %}#}
      {#                    <button value="unfollow" class="btn" id="{{ game.id }}" name="myButton">Unfollow</button>#}
      {#                  {% else %}#}
      {#                    <button value="follow" class="btn" id="{{ game.id }}" name="myButton">Follow</button>#}
      {#                  {% endif %}{% endcomment %}#}
      {#                </div><!-- card content -->#}
      {#              </div><!-- card -->#}
      {#            </div>#}
      {#          </div><!-- col-md-4 -->#}
      {#        {% endfor %}#}
      {#      </div><!-- row closing -->#}
      </div><!-- masthead closing -->
      {% block javascript %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5e67d5e00b.js" crossorigin="anonymous"></script>
      {% endblock %}
      <script>
        $(document).ready(function () {
          $("#searchbox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $('div[data-role="game"]').filter(function () {
              $(this).toggle($(this).find('h3').text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        function search(string) {
          window.find(string);
        }
      </script>




















      {% comment %}  <style>
    .masthead {
      height: 100vh;
      background-size: cover;
      background-position: center;
    }
  </style>

  {% if bulk_info %}

    {#    <h1>Total follows: {{ bulk_info|length }} </h1>#}
    <div class="masthead">
      <p class="text-center">Total follows: {{ bulk_info|length }}</p>
      <div class="row text-center">
        {% for info in bulk_info|dictsort:"display_name" %}
          <div class="col-sm-2">
            <div class="card-group">
              <div class="card">
                <img src="{{ info.profile_image_url }}" alt="" class="rounded-circle">
                <div class="card-content">
                  <br>
                  <a href="https://www.twitch.tv/{{ info.login }}" target="_blank">
                    <h3>{{ info.display_name }}</h3>
                  </a>
                  <hr>
                  <p>Total view count: {{ info.view_count }}</p>
                  <form action="{% url 'clips:clip' %}" target="_blank" method="get" id="myForm">
                    <input type="text" value="{{ info.id }}" name="broadcaster_id" size="1" id="broadcaster_id"/>
                    <input type="hidden" value="20" name="first" size="1"/>
                    <input type="submit" class="btn" value="View {{ info.display_name }}'s top clips"
                           name="Submit" id="sub-btn">
                  </form>
                </div><!-- card content -->
              </div><!-- card -->
            </div>
          </div><!-- col-md-4 -->
        {% endfor %}
      </div><!-- row closing -->
    </div><!-- masthead closing -->{% endcomment %}

    {% else %}
      <strong>No channels followed.</strong>
    {% endif %}



{% endblock content %}
