{% extends "base.html" %}
{% block title %}List of Followed Channels{% endblock %}

{% block content %}

  {% if bulk_info %}

    {% for info in bulk_info %}
      <style>
        .card-img {
          width: 100%;
          height: 15vw;
          object-fit: cover;
        }

        .card {
          margin: 10px;
        }
      </style>

      <div class="card-deck">
        <div class="card text-white bg-dark p-3">
          <img class="card-img" src="{{ info.offline_image_url }}">
          <div class="card-img-overlay">
            <form action="{% url 'clips:clip' %}" target="_blank" method="get" id="myForm">
              <input type="text" value="{{ info.id }}" name="broadcaster_id" size="1" id="broadcaster_id"/>
              <div class="form-group">
                <input type="hidden" value="3" name="first" size="1"/>
              </div>
              <h5 class="card-title">{{ info.display_name }}</h5>
              <p class="card-text">{{ info.description }}</p>
              <input type="submit" class="btn btn-primary" value="View {{ info.display_name }}'s top clips"
                     name="Submit">
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <strong>No channels followed.</strong>
  {% endif %}



{% endblock content %}
