{% extends "base.html" %}
{% block title %}List of Followed Channels{% endblock %}

{% block content %}

  <style>
    .masthead {
      height: 100vh;
      background-size: cover;
      background-position: center;
    }
  </style>

  {% if bulk_info %}

    <div class="masthead">
      <div class="row text-center">
        {% for info in bulk_info|dictsort:"display_name" %}
          <div class="col-sm-2">
            <div class="card-group">
              <div class="card">
                <img src="{{ info.profile_image_url }}" alt="" class="rounded-circle">
                <div class="card-content">
                  <br>
                  <a href="https://www.twitch.tv/{{ info.login }}" target="_blank">
                    <h3>{{ info.display_name }}</h3>
                  </a>
                  <hr>
                  <p>Total view count: {{ info.view_count }}</p>
                  <form action="{% url 'clips:clip' %}" target="_blank" method="get" id="myForm">
                    <input type="text" value="{{ info.id }}" name="broadcaster_id" size="1" id="broadcaster_id"/>
                    <input type="hidden" value="20" name="first" size="1"/>
                    <input type="submit" class="btn" value="View {{ info.display_name }}'s top clips"
                           name="Submit" id="sub-btn">
                  </form>
                </div><!-- card content -->
              </div><!-- card -->
            </div>
          </div><!-- col-md-4 -->
        {% endfor %}
      </div><!-- row closing -->
    </div><!-- masthead closing -->

  {% else %}
    <strong>No channels followed.</strong>
  {% endif %}



{% endblock content %}
