{% extends "base.html" %}
{% block title %}List of Current Top Games{% endblock %}
{#{% load clips_filters %}#}
{% block content %}

  <style>
    .masthead {
      height: 100vh;
      background-size: cover;
      background-position: center;
    }
  </style>

  {% if games %}

    {#    <h1>Total follows: {{ bulk_info|length }} </h1>#}
    <div class="masthead">
      <p class="text-center">Top {{ games|length }} games by viewer count</p>
      <div class="row text-center">
        {% for game in games %}
          <div class="col-sm-2">
            <div class="card-group">
              <div class="card">
                <img src="{{ game.box_art_url }}" alt="" class="rounded-circle">
                <div class="card-content">
                  <br>
                  <a href="https://www.twitch.tv/directory/game/{{ game.name }}" target="_blank">
                    <h3>{{ game.name }}</h3>
                  </a>
                  {#                  {% if game|check_relationship_exists:request.user %}#}
                  {#                    You already follow this game#}
                  {#                  {% else %}#}
                  {% if game.is_followed == True %}
                    <p class="btn-info">Followed</p>
                  {% else %}
                    <a class="btn" href="{% url 'clips:follow_game' game.id %}" id="{{ game.id }}">Follow</a>
                  {% endif %}
                  {#                  {% endif %}#}
                  {#                  <form action="{% url 'clips:follow_game' %}" method="get" id="myForm">#}
                  {#                    <input type="hidden" value="{{ game.id }}" name="game_id" size="1" id="game_id"/>#}
                  {#                    <input type="submit" class="btn" value="Follow {{ game.name }}"#}
                  {#                           name="Submit" id="sub-btn">#}
                  {#                  </form>#}
                </div><!-- card content -->
              </div><!-- card -->
            </div>
          </div><!-- col-md-4 -->
        {% endfor %}
      </div><!-- row closing -->
    </div><!-- masthead closing -->

  {% else %}
    <strong>No games to show.</strong>
  {% endif %}

  <script type="text/javascript">
    $('.btn-primary').click(function () {
      var id;
      id = $(this).attr("id");
      $.ajax(
              {
                type: "GET",
                url: "http://localhost:8000/clips/follow_game",
                data: {
                  game_id: id
                },
                success: function (data) {
                  $('#' + id).toggleClass("btn-secondary follow-button");
                  $('#followers').html(data + ' followers');
                  console.log(data);
                }

              })
    });
  </script>

{% endblock content %}
