{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#A16AE8" fill-opacity="1"
          d="M0,128L60,112C120,96,240,64,360,48C480,32,600,32,720,58.7C840,85,960,139,1080,176C1200,213,1320,235,1380,245.3L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>

  <div class="homeText">
    <br>
    <h1>All Twitch clips in one place</h1>
    <br><br>
    <h2>Top clips of Twitch from the past 24 hours in your personal feed</h2>
    <br><br>
    <h3 align="center"><a href="{% url 'about' %}" class="effect-underline text-decoration-none">Read more...</a>
    </h3>
  </div>
  <div class="d-flex">
    <img src="{% static 'images/video-clip.png' %}" width="64" height="64" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Clips</h5>
      {% if template_info %}
        {{ template_info }}
      {% else %}
        <p>See the clips you have chosen to see</p>
      {% endif %}
    </div>
  </div>
  {% if clips %}

    {% include 'partials/clip_cards.html' with clips=clips %}

    <!-- Back to top button -->
    <a id="button"></a>

    {% block javascript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
              crossorigin="anonymous"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
              integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
              crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/5e67d5e00b.js" crossorigin="anonymous"></script>
    {% endblock %}

    <script>
      $(document).on('click', '#like-button-clip', function (e) {
        e.preventDefault();
        let clip_id = $(this).val()
        $.ajax(
          {
            type: "POST",
            url: "{% url 'clips:like-clip' %}",
            data: {
              clip_id: $(this).val(),
              csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
              action: "post"
            },
            success: function (json) {
              document.getElementById(clip_id).innerHTML = " " + json['result']
              let buttonIcon = $("#".concat(clip_id))
              buttonIcon.toggleClass("fas far")
              console.log(json)
            },
            error: function (xhr, errmsg, err) {

            }
          });
      });


      //FUNCTION TO GET AND OPEN TWITCH EMBED CLIP
      function autoPlayTwitchModal() {
        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.click(function () {
          var theModal = $(this).data("target"),
            videoSRC = $(this).attr("data-theVideo"),
            videoSRCauto = videoSRC + "";
          $(theModal + ' iframe').attr('src', videoSRCauto);
          $(theModal + ' button.close').click(function () {
            $(theModal + ' iframe').attr('src', videoSRC);
          });
        });
        var modal = $(this).data("target");
        modal.on('hide.bs.modal', function () {
          var memory = $(this).html();
          $(this).html(memory)
        })
      }

      $('#videoModal').on('hidden.bs.modal', function (e) {
        $('#twitchplayer').attr('src', '')
      });

      $(document).ready(function () {
        autoPlayTwitchModal();
      });

      $(function () {
        $("div").slice(0, 4).show();
        $("#loadMore").on('click', function (e) {
          e.preventDefault();
          $("div:hidden").slice(0, 4).slideDown();
          if ($("div:hidden").length == 0) {
            $("#load").fadeOut('slow');
          }
          $('html,body').animate({
            scrollTop: $(this).offset().top
          }, 1500);
        });
      });

      var btn = $('#button');

      $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
          btn.addClass('show');
        } else {
          btn.removeClass('show');
        }
      });

      btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, '300');
      });

    </script>


  {% else %}
    <style>
      .masthead {
        height: 100vh;
        min-height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      a {
        color: #6A5ACD;
      }

      .twitchLink {
        color: #a970ff;
      }

      hr {
        color: #6A5ACD;
      }
    </style>
    <div class="masthead justify-content-center text-center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <strong>No clips to show <br>
        Sadge :(</strong>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>Depending on where you were when you requested to watch some clips, you could be seeing this page due to
        various reasons:</p>
      <br>
      <p>The streamer has not broadcast in the past 24 hours, or there are simply no clips by
        them. </p>
      <br>
      <p>You have not followed enough streamers on <a href="https://www.twitch.tv/"
                                                      class="lead text-decoration-none twitchLink">Twitch</a> and/or <a
        href="{% url 'games:games' %}"
        class="lead text-decoration-none">Games</a> on Glip.</p>
      <br>
      <p></p>
    </div>
  {% endif %}

{% endblock content %}
