{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
<style>
  .text-wrapper {
    position: absolute;
    top: 8px;
    left: 16px;
  }


</style>
{% block content %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#A16AE8" fill-opacity="1"
          d="M0,128L60,112C120,96,240,64,360,48C480,32,600,32,720,58.7C840,85,960,139,1080,176C1200,213,1320,235,1380,245.3L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>

  <div class="homeText">
    <br>
    <h1>All Twitch clips in one place</h1>
    <br><br>
    <h2>Top clips of Twitch from the past 24 hours in your personal feed</h2>
    <br><br>
    <h3 align="center"><a href="{% url 'about' %}" class="effect-underline text-decoration-none">Read more...</a>
    </h3>
  </div>

  {% if clips %}
    <p class="text-center">Today's top Twitch clips</p>
    <div class="card-group justify-content-center" id="cardGroup">
      {% for clip in clips|dictsortreversed:"twitch_view_count" %}
        <div class="clip-card " style="padding: 10px">

          <div class="card text-white bg-dark mx-2 mb-3" style="max-width: 18rem;">
            <img loading=lazy class="card-img-top clip-card-img" src="{{ clip.thumbnail_url }}" alt=""
                 style="opacity: 0.5; height: 100%;" data-toggle="modal"
                 data-target="#videoModal"
                 data-theVideo="{{ clip.embed_url }}&parent=glipsite.com&parent=www.glipsite.com"
                 onClick='autoPlayTwitchModal(" {{ clip.embed_url }}&parent=glipsite.com&parent=www.glipsite.com")'>
            <div href="#"
                 style="position: absolute; bottom: 75px; left: 9px; font-size: 0.9rem; color: #FFFFFF; text-decoration: none"
                 class="font-weight-bold card-my-div">{{ clip.broadcaster_name }}</div>
            <div style="position: absolute; top: 8px; right: 16px; border-radius: 20px; background-color: rgba(0, 0, 0, 0.6);"
                 class="text-wrapper">
              <p class="card-text font-weight-bold" style="padding: 0px 3px; font-size: 0.9rem">
                0:{{ clip.duration }}</p>
            </div>
            <div style="position: absolute; top: 8px; left: 16px; border-radius: 20px; background-color: rgba(0, 0, 0, 0.6);"
                 class="text-wrapper">
              <p class="card-text font-weight-bold" style="padding: 0px 5px; font-size: 0.9rem"><i
                      class="fas fa-eye"></i>
                {{ clip.twitch_view_count }}</p>
            </div>
            <div class="clip-box-shadow"></div>
            <h5 style="position: absolute; bottom: 40px; left: 9px; font-size: 0.9rem; max-width: 95%;"
                class="card-title font-weight-bold text-truncate">{{ clip.title }}</h5>
            {% comment %}            <a class="text-wrap fs-6 text-decoration-none card-comments"
               href="{% url 'clips:clip_detail' %}?twitch_id={{ clip.clip_twitch_id }}">
              <i class="far fa-comment-alt"></i>
              See comments
            </a>{% endcomment %}
            <a class="text-wrap fs-6 text-decoration-none card-comments"
               href="{% url 'clips:clip_detail' pk=clip.clip_twitch_id %}">
              <i class="far fa-comment-alt"></i>
              {{ clip.comment_count }} comment{{ clip.comment_count|pluralize }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <br>



    <!--Modal: Name-->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src=""
                      allowfullscreen="true" id="twitchplayer" width="100%"></iframe>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center text-white">
            <span class="mr-4">Share my website with your friends</span>
            <!--Twitter-->
            <a
                    target="_blank"
                    class="btn btn-outline-light btn-floating m-1"
                    href="https://twitter.com/intent/tweet?text=I'm%20using%20Glipsite.com%20to%20watch%20my%20favorite%20Twitch%20clips%20of%20the%20day.%20Make%20sure%20to%20check%20it%20out!"
                    role="button"
            ><i class="fab fa-twitter"></i></a>
            {% comment %}<a href="https://twitter.com/intent/tweet?text=I'm%20using%20Glipsite.com%20to%20watch%20my%20favorite%20Twitch%20clips%20of%20the%20day.%20Make%20sure%20to%20check%20it%20out!"
               type="button" target="_blank" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>{% endcomment %}
            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4 closeBtn" data-dismiss="modal">
              Close
            </button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!--Modal: Name-->

    <!-- Back to top button -->
    <a id="button"></a>

    <div id="loadmore-box" class="d-flex justify-content-center align-items-center">
      <button class="btn" id="loadbtn">
        Show More
      </button>
    </div>

    {% block javascript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
              crossorigin="anonymous"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
              integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
              crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/5e67d5e00b.js" crossorigin="anonymous"></script>
    {% endblock %}
    <script>
      var loadbtnStatus = "more";
      $("#loadbtn").click(function showMoreFunc() {
        const _this = $(this);
        $(".card-group div:nth-child(n+21)").toggle();
        if (loadbtnStatus === "more") {
          _this.text("Show Less")
          loadbtnStatus = "less";
        } else {
          _this.text("Show More")
          loadbtnStatus = "more";
        }
      });


      {% comment %}
      """ Commented the fetch and add new cards function """
      const card_group = document.getElementById('cardGroup')
      const loadbtn = document.getElementById('loadbtn')
      const spinner_box = document.getElementById('spinner-box')
      const loadmore_box = document.getElementById('loadmore-box')
      let visible = 23


      const getClips = () => {
        $.ajax({
          type: "GET",
          url: "{% url 'clips:clips-json' %}",
          data: {
            upper: visible
          },
          success: function (response) {
            max_size = response.max
            const data = response.data
            data.map(clips => {
              card_group.insertAdjacentHTML('beforeend', `
                                      <div class="clip-card " style="padding: 10px">

                                        <div class="card text-white bg-dark mx-2 mb-3" style="max-width: 18rem; height: 100%;" data-toggle="modal"
                                             data-target="#videoModal"
                                             data-theVideo="${clips.embed_url}&parent=localhost" onClick='autoPlayTwitchModal(" ${clips.embed_url}&parent=localhost ")'>
                                          <img loading=lazy class="card-img-top clip-card-img" src="${clips.thumbnail_url}" alt=""
                                               style="opacity: 0.5; height: 100%;">
                                          <div href="#"
                                               style="position: absolute; bottom: 65px; left: 9px; font-size: 0.9rem; color: #FFFFFF; text-decoration: none"
                                               class="stretched-link font-weight-bold card-my-div">${clips.broadcaster_name}</div>
                                          <div style="position: absolute; top: 8px; right: 16px; border-radius: 20px; background-color: rgba(0, 0, 0, 0.6);"
                                               class="text-wrapper">
                                            <p class="card-text font-weight-bold" style="padding: 0px 3px; font-size: 0.9rem">
                                              0:${clips.duration}</p>
                                          </div>
                                          <div style="position: absolute; top: 8px; left: 16px; border-radius: 20px; background-color: rgba(0, 0, 0, 0.6);"
                                               class="text-wrapper">
                                            <p class="card-text font-weight-bold" style="padding: 0px 5px; font-size: 0.9rem"><i
                                                    class="fas fa-eye"></i>
                                              ${clips.twitch_view_count}</p>
                                          </div>
                                          <a class="stretched-link" href="javascript:void(0);" style="color: #83577500; "></a>
                                          <h5 style="position: absolute; bottom: 15px; left: 9px; font-size: 0.9rem; max-width: 95%;"
                                              class="card-title font-weight-bold text-truncate">${clips.title}</h5>
                                        </div>

                                      </div>
                                      `)
            });
          },
          error: function (error) {
            console.log(error)
          }
        });
      }

      loadbtn.addEventListener('click', () => {
        visible += 3
        getClips()
      }){% endcomment %}

      //FUNCTION TO GET AND OPEN TWITCH EMBED CLIP
      function autoPlayTwitchModal() {
        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.click(function () {
          var theModal = $(this).data("target"),
                  videoSRC = $(this).attr("data-theVideo"),
                  videoSRCauto = videoSRC + "";
          $(theModal + ' iframe').attr('src', videoSRCauto);
          $(theModal + ' button.close').click(function () {
            $(theModal + ' iframe').attr('src', videoSRC);
          });
        });
        var modal = $(this).data("target");
        modal.on('hide.bs.modal', function () {
          var memory = $(this).html();
          $(this).html(memory)
        })
      }

      $('#videoModal').on('hidden.bs.modal', function (e) {
        $('#twitchplayer').attr('src', '')
      });

      $(document).ready(function () {
        autoPlayTwitchModal();
      });

      $(function () {
        $("div").slice(0, 4).show();
        $("#loadMore").on('click', function (e) {
          e.preventDefault();
          $("div:hidden").slice(0, 4).slideDown();
          if ($("div:hidden").length == 0) {
            $("#load").fadeOut('slow');
          }
          $('html,body').animate({
            scrollTop: $(this).offset().top
          }, 1500);
        });
      });

      var btn = $('#button');

      $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
          btn.addClass('show');
        } else {
          btn.removeClass('show');
        }
      });

      btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, '300');
      });

    </script>


  {% else %}
    <style>
      .masthead {
        height: 100vh;
        min-height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      a {
        color: #6A5ACD;
      }

      .twitchLink {
        color: #a970ff;
      }

      hr {
        color: #6A5ACD;
      }
    </style>
    <div class="masthead justify-content-center text-center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <strong>No clips to show <br>
        Sadge :(</strong>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>Depending on where you were when you requested to watch some clips, you could be seeing this page due to
        various reasons:</p>
      <br>
      <p>The streamer has not broadcast in the past 24 hours, or there are simply no clips by
        them. </p>
      <br>
      <p>You have not followed enough streamers on <a href="https://www.twitch.tv/"
                                                      class="lead text-decoration-none twitchLink">Twitch</a> and/or <a
              href="{% url 'games:games' %}"
              class="lead text-decoration-none">Games</a> on Glip.</p>
      <br>
      <p></p>
    </div>
  {% endif %}

{% endblock content %}
