{% extends "base.html" %}

{% block content %}
  <style>
    .masthead {
      height: 100vh;
      min-height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    a {
      color: #6A5ACD;
    }
  </style>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Glip</h1>
          <p class="lead">A simple tool for watching your favorite streamers' clips</p>
          <br>
          <a href="{% url 'about' %}" class="lead">Read more...</a>
        </div>
      </div>
    </div>
  </header>
  <hr>

{% endblock %}
